@model User
@{
    Layout = "../Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Giriş Yap";

}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://www.sumergida.com/Content/images/logo/sumer.png"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form asp-action="index" asp-controller="login" method="post">
                    <center>
                        <h2> GİRİŞ YAP </h2>
                    </center>
                    <div class="form-outline mb-4">
                        <label class="form-label">Kullanıcı Adı</label>
                        <input type="text" id="form1Example13" class="form-control form-control-lg" name="Username" asp-for="Username" required />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example23">Şifre</label>
                        <input type="password" id="password" name="Password" asp-for=Password class="form-control form-control-lg" required />
                        <input type="checkbox" id="showPass" /> Şifreyi göster
                    </div>
                    <center>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Giriş Yap</button>
                    </center>
                    <p></p>
                    <br />
                </form>
            </div>
        </div>
    </div>
</section>